{{- if and (or (eq .Kind "page") (eq .Kind "section")) (ne .Section "pages") -}}
  {{- $authorName := .Site.Params.brand | default .Site.Title -}}
  {{- $desc := partial "helpers/meta-description.html" . -}}
  {{- $img := partial "helpers/og-image-path.html" . -}}
  {{- $published := .Date -}}
  {{- if $published.IsZero -}}
    {{- $published = now -}}
  {{- end -}}

  {{- $data := dict
    "@context" "https://schema.org"
    "@type" "Article"
    "headline" .Title
    "description" $desc
    "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink)
    "author" (dict "@type" "Organization" "name" $authorName)
    "publisher" (dict "@type" "Organization" "name" $authorName)
    "datePublished" ($published.Format "2006-01-02T15:04:05Z07:00")
    "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00")
  -}}

  {{- if $img -}}
    {{- $data = merge $data (dict "image" (slice ($img | absURL))) -}}
  {{- end -}}

  <script type="application/ld+json">{{ $data | jsonify }}</script>
{{- end -}}
