{{- $pages := .RegularPages.ByDate.Reverse -}}
{{- if gt (len $pages) 0 -}}
  {{- $items := slice -}}
  {{- range $i, $p := first 12 $pages -}}
    {{- $items = $items | append (dict
      "@type" "ListItem"
      "position" (add $i 1)
      "name" $p.Title
      "url" $p.Permalink
    ) -}}
  {{- end -}}

  {{- $data := dict
    "@context" "https://schema.org"
    "@type" "ItemList"
    "name" .Title
    "itemListElement" $items
  -}}
  <script type="application/ld+json">{{ $data | jsonify }}</script>
{{- end -}}

