{{- $org := .Site.Params.organization -}}
{{- if not $org -}}
  {{- $org = dict -}}
{{- end -}}

{{- $name := $org.name | default (.Site.Params.brand | default .Site.Title) -}}
{{- $orgLogo := $org.logo | default "" -}}
{{- $logo := $orgLogo | default (.Site.Params.defaultOGImage | default "") -}}
{{- if not $orgLogo -}}
  {{- $siteDefault := "og/site-default.jpg" -}}
  {{- if fileExists (printf "static/%s" $siteDefault) -}}
    {{- $logo = $siteDefault -}}
  {{- end -}}
{{- end -}}
{{- $email := $org.email | default (.Site.Params.email | default "") -}}

{{- $data := dict
  "@context" "https://schema.org"
  "@type" "Organization"
  "name" $name
  "url" .Site.BaseURL
-}}

{{- if $logo -}}
  {{- $data = merge $data (dict "logo" ($logo | absURL)) -}}
{{- end -}}
{{- if $email -}}
  {{- $data = merge $data (dict "email" (printf "mailto:%s" $email)) -}}
{{- end -}}

<script type="application/ld+json">{{ $data | jsonify }}</script>
